
.about-section 
{
   font-family: "Arial", serif;
   color: black;
   padding: 10px 10px;
   max-width: 800px;
   max-height: 400px;
   margin: 0 auto;
   text-align: left;
   background-color: rgba(248, 247, 219, 0.912);}
  
.about-section h1 
{
   font-weight: bold;
   font-size: 24px;}  
.about-section p
{
   font-size: 14px;
   line-height: 1.5;}