
      main {
         display: flex;
         justify-content: center;
         align-items: center;
         height: calc(100vh - 120px);
         }
     
     .calculator-form {
         background-color: white;
         padding: 20px;
         border-radius: 8px;
         width: 400px;}
     
     .calculator-form h2{
         margin-bottom: 20px;
         color: #333; }
     
     .calculator-form label{
         display: block;
         margin-bottom: 5px;
         font-weight: bold;}
     
     .calculator-form input{
      width: 95%;
      padding: 8px;
      margin-bottom: 15px;
      border-radius: 4px;
      border: 1px solid #ccc;
      border-color: black;
      border-radius: 5px; }

     .calculator-form select {
         width: 100%;
         padding: 8px;
         margin-bottom: 15px;
         border-radius: 4px;
         border: 1px solid #ccc; 
         border-color: black;
        border-radius: 5px;}
     
     .calculator-form .buttons {
         display: flex;
         justify-content:space-between;}
     
     .calculator-form button {
         padding: 10px 20px;
         border: none;
         background-color: #4CAF50;
         color: white;
         cursor: pointer;}
     
       #result {
         margin-top: 20px;
         font-size: 18px;
         color: black;
         background-color: rgb(231, 231, 231);
         padding: 10px;
         font-weight: bold;
         border-radius: 5px; }
   
        
  
    
     
