body{
   background-color: rgba(111, 108, 108, 0.384);
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;}

.navbar {
   display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: rgb(114, 111, 112);
     height: 100px;
     padding: 0 30px;
     position: relative;}
   
   .navbar a {
      color: white;
      text-decoration: none;
      margin: 10px;
      font-size: 24px;     
      font-weight: bold;
      align-items: center;
      gap: 30px;
      left: 60%;}
   
   .logo {
      color: white;
     font-size: 24px;
     font-weight: bold;
     margin: 5px;
     justify-content: center;
     align-items: center;
     gap: 30px;}
   
     .footer {
      background-color: rgb(114, 111, 112);
      color: white;               
      height: 50px;               
      display: flex;               
      justify-content: center; 
      align-items: center;
      font-size: 16px;
      margin: 20px;} 

      main {
         display: flex;
         justify-content: center;
         align-items: center;
         height: calc(100vh - 120px); }
     
     .calculator-form {
         background-color: white;
         padding: 20px;
         border-radius: 8px;
         width: 400px;}
     
     .calculator-form h2{
         margin-bottom: 20px;
         color: #333; }
     
     .calculator-form label{
         display: block;
         margin-bottom: 5px;
         font-weight: bold;}
     
     .calculator-form input{
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border-radius: 4px;
      border: 1px solid #ccc; }

     .calculator-form select {
         width: 100%;
         padding: 8px;
         margin-bottom: 15px;
         border-radius: 4px;
         border: 1px solid #ccc; }
     
     .calculator-form .buttons {
         display: flex;
         justify-content: space-between;}
     
     .calculator-form button {
         padding: 10px 20px;
         border: none;
         background-color: #4CAF50;
         color: white;
         border-radius: 4px;
         cursor: pointer;}
     
      #result {
         margin-top: 20px;
         font-size: 18px;
         color: #333;}

   
        
  
    
     
