body{
   background-color: var(--darkgray1-color);}
   
.navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:var(--gray2-color);
   height: 100px;
   padding: 0 30px;
   position: relative;}

.navbar a {
    color:var(--black-color);
    text-decoration: none;
    margin: 10px;
    font-size: 24px;     
    font-weight: bold;
    align-items: center;
    gap: 30px;
    left: 60%;
    background-color: var(--gray4-color);
    padding: 5px;
    border-radius: 3px;}
 
.navbar a.logo {
   color: var(--black-color);
   font-size: 24px;
   font-weight: bold;
   margin: 5px;
   left: 60px;
   position: absolute;
   background-color:var(--gray4-color);
   border-radius: 3px;}

   .hamburger {
      display: none;
      cursor: pointer;
      font-size: 28px;
      margin-bottom: 10px;
      color: var(--white-color);}
  
.footer {
   background-color: var(--gray2-color);
   color: var(--black-color);             
   height: 100px;               
   display: flex;               
   justify-content: center; 
   align-items: center;
   font-size: 16px;
   width: 100%;} 
   
  .navbar a:active {
    transform: scale(1.05);
    background-color: var(--blue-color);}


.theme-toggle {
   cursor: pointer;
   font-size: 24px;
   display: flex;
   align-items: center;
   gap: 5px;
   position: absolute;
   right: 20px;
   top: 20px;
   box-shadow: 0 4px 8px var(--black1-color);  }
 
 .moon-icon {
  width: 20px;
  height: 20px;
   display: none;}
 
  .sun-icon {
   width: 20px;
   height: 20px;}
 
 body.dark-mode .logo {
   color: var(--white-color);
   background-color: var(--gray1-color);}
 
 body.dark-mode .moon-icon {
   display: inline;
   width: 20px;
   height: 20px;}

   body.dark-mode .sun-icon {
    display: none;
    width: 20px;
    height: 20px;}
 
 body.dark-mode {
   background-color: var(--gray1-color);
   color:var(--white-color)}
 
 body.dark-mode .navbar {
   background-color: var(--black-color)}
 
 body.dark-mode .nav-links a {
   color: var(--white-colorr);
   background-color: var(--gray1-color);}

 body.dark-mode .nav-links a:active {
   background-color:  var(--gray1-color);}
 
 body.dark-mode .footer {
   background-color: var(--black-color);
   color: var(--white-color);}

   @media (max-width: 768px){
      .navbar {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color:var(--gray2-color);
         padding: 10px;
         margin: 10px;
         width: 90%;}
     
     .navbar a .logo {
         color: var(--white-color);
         font-size: 24px;
         font-weight: bold;
         margin-bottom: 10px; 
         text-decoration: none;
        margin-right: 5%;}
     
     .navbar a {
         color: var(--white-color);
         text-decoration: none;
         font-size: 20px;
         font-weight: bold;
         margin: 5px 0;
         display: block;
         text-align: center;}
     
     .hamburger {
         display: block;
         cursor: pointer;
         font-size: 28px;
         margin-bottom: 10px;
         color: var(--white-color);
        margin-left: 5%;}
     
     .nav-links {
         display: none;
         flex-direction: column;
         width: 90%;
         align-items: center;
         right: 0;}

     .navbar.open .nav-links {
         display: flex;}

      .footer {
         background-color:var(--gray2-color);
         color: var(--white-color);
         height: 80px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 14px;
         width: 90%;
         margin-left: 5%;}

      .theme-toggle {
           cursor: pointer;
           font-size: 24px;
           display: flex;
           align-items: center;
           gap: 5px;
           position: absolute;
           right: 20px;
           top: 20px;
           box-shadow: 0 4px 8px var(--black1-color);
           margin-right: 5%;
           margin-top: 2%;}
      }    


