

.home-section {
   display: flex;
   padding: 10px;
   margin: 10px;
   width: 65%;   
   max-height: 400px;
   margin: 0 auto;
   align-items: center;
   text-align: center;
   justify-content: center;
   background-color: white;
   flex-direction: row;
   gap: 20px; 
   border: 1px solid black;
   border-radius: 5px;
   margin-top: 20px;}

.home-section img{
   width: 100%;
   height: 100%;
   max-width: 380px;
   max-height: 400px;
   flex-direction: row; 
   margin: 20px;}

.home-section text{
   display: flex;
   flex-direction: column;
   text-align: center;
   font-family: "Arial", sans-serif;
   color: black;
   justify-content: center;
   margin: 20px;}

.call-to-action {
   display: flex;
   gap: 20px;
   padding: 20px;
   flex-direction: row;
   justify-content: center; 
   width: 66.3%;
   margin: 0 auto;}
   
.column {
   background-color: white;
   border-radius: 5px;
   padding: 15px;
   border: 1px solid black; 
   flex: 1;}
h2 {
   font-size: 24px;
   margin: 20px;
   color: black;;
   display: inline-block;}

.social-links {
   background-color: white;
   padding: 5px;
   display: flex;
   flex-direction: column;
   gap: 15px;}

.social-links a {
   display: flex;
    align-items: center;
    gap: 10px; 
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;}

.social-links :hover {
   transform: scale(1.05);}

.social-links img {
   background-color: white;
   width: 32px;
   height: 32px;
   border-radius: 5px;}

.project {
   background-color: white;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}

.project-images img {
   width: 425px;
   height: auto;
   border-radius: 8px;
   transition: transform 0.3s;
   margin-top: 15px}

.project-images :hover {
   transform: scale(1.05);}

@media(max-width: 768px){
.main-nav {}
.main-nav.open{}
.main-nav a{}
.main-nav a:last -child{}
.hamburger-icon{
   display: block;}
.top-bar{
   justify-content: space-between;}
.hamburger-icon i.fa-bar{
   font-size: 24px;
   color: white;} 
}

