body{
   background-color: rgba(111, 108, 108, 0.384);}

.skiils-section {
   font-family: "Arial", serif;
   color: black;
   padding: 10px;
   max-width: 800px;
   max-height: 400px;
   margin: 0 auto;
   padding-top: 10px;
   text-align: left;
   background-color: white;
   border: 1px solid black;
   margin-top: 20px;}
  
.skills-section h1 {
   font-weight: bold;
   font-size: 24px;
   text-align: center;}

.skills-p {
   font-size: 14px;
   line-height: 1.5;
   text-align: center;}

.a {
   color: black;
   font-size: 14px;
   font-weight: bold;}

   .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(114, 111, 112);
      height: 100px;
      padding: 0 30px;
      position: relative;}
    
    .navbar a {
       color: white;
       text-decoration: none;
       margin: 10px;
       font-size: 24px;     
       font-weight: bold;
       align-items: center;
       gap: 30px;
       left: 60%;}
    
    .logo {
       color: white;
      font-size: 24px;
      font-weight: bold;
      margin: 5px;
      justify-content: center;
      align-items: center;
      gap: 30px;}
.footer {
   background-color: rgb(114, 111, 112);
   color: white;               
   height: 50px;               
   display: flex;               
   justify-content: center; 
   align-items: center;
   font-size: 16px;
   margin: 20px;} 