
.skiils-section{
   font-family: var(--font-family);
   color: var(--black-color);
   padding: 10px;
   max-width: 600px;
   max-height: 500px;
   margin: 0 auto;
   padding-top: 10px;
   text-align: left;
   background-color: var(--white-color);
   border: 1px solid var(--black-color);
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 5px;}


.skills-list{
   font-size: 16px;
   line-height: 1.5;
   text-align: left;}

.a{
   font-family: var(--font-family);
   color: var(--black-color);
   font-size: 16px;
   font-weight: bold;}

.skills-image {
  display: flex;
  width: 150px;
  height: auto;
  align-items: flex-end; 
  flex-direction: column;
  border-radius: 8px;
  float: right;}

